/* Import Playfair Display font */

/* Portfolio Section */
.portfolio-section {
  padding: 0; /* Removed padding to avoid space on left and right */
  padding-top: 25px;
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  margin: 0; /* Removed margin to avoid extra space */
  box-sizing: border-box;
}

/* Portfolio Heading */
.portfolio-heading {
  font-size: 36px;
  font-weight: 300;
  color: #333;
  text-align: center;
  justify-self: center;
  display: block;
  font-family: 'Montserrat', sans-serif;
}
.portfolio-underline{
  background-color: #888;
  margin-bottom: 15px;
  align-self: center;
  margin-top: -25px;
  width: 140px;
  height: 3px;
}

/* Image grid setup for the portfolio items */
.image-grid {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  animation: scroll 25s linear infinite; /* Infinite horizontal scroll animation */
  padding: 20px;
  margin: 0;
}

/* Portfolio Item */
.portfolio-item {
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.5);
  min-width: 300px; /* Ensure that each image has a minimum width */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.portfolio-item:hover {
  z-index: 1000;
  overflow-y: hidden;
  transform: scaleX(1.55) scaleY(1.46) translateY(-29px);
}

/* Portfolio Item Image */
.portfolio-item img {
  width: 100%; /* Ensure the image spans the full width */
  height: 100%; /* Ensure the image spans the full height */
  object-fit: cover; /* Cover the container, maintaining the aspect ratio */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}



/* Animation to create the scrolling effect */
@keyframes scroll {
  0% {
    transform: translateX(0); /* Start from the initial position */
  }
  100% {
    transform: translateX(-100%); /* Move the grid to the left */
  }
}

/* Ensure that duplicated images create a smooth, infinite loop */
.image-grid .portfolio-item:nth-child(n + 7) {
  gap: 20px; /* Small gap between duplicated images */
}

/* Media Queries for responsiveness */
@media (max-width: 1200px) {
  .portfolio-item {
    min-width: 250px; /* Adjust width for larger screens */
  }
}

@media (max-width: 768px) {
  .portfolio-heading{
    font-size: 30px;
  }
  .portfolio-underline{
    width: 111px;
  }
  .portfolio-item {
    min-width: 200px; /* Adjust width for smaller screens */
  }
}

@media (max-width: 480px) {
  .portfolio-item {
    min-width: 150px; /* Adjust width for mobile devices */
  }
}
